.grid-game{
    display: grid;
    width: 100%;
    max-width: 800px;
    grid-template-columns: repeat(5, 1fr); /* vai repetir em 5 colunas com 1 fração */
    gap: 20px;
    margin: 0 auto;
}

.card-game{
    width: 100%;
    aspect-ratio: 3/4; /* propriedade para ajustar a altura dos cards */
    background-color: black;
    position: relative;
}

.face{
    width: 100%;
    height: 100%;
    position: absolute;
}

.front{
    background-color: red;
}

.back{
    background-color: blue;
}