.grid-game{
    display: grid;
    width: 100%;
    max-width: 800px;
    grid-template-columns: repeat(5, 1fr); /* vai repetir em 5 colunas com 1 fração */
    gap: 20px;
    margin: 0 auto;
}

.card-game{
    width: 100%;
    aspect-ratio: 3/4; /* propriedade para ajustar a altura dos cards */
    background-color: black;
    position: relative;
    transition: all 400ms ease;
    transform-style: preserve-3d;
    border-radius: 5px;
}

.face{
    width: 200px;
    height: 200px;
    position: absolute;
    background-size: cover;
    background-position: center;
    border: 2px solid rgb(112, 112, 228);
    border-radius: 5px;
}

.front{
    background-image: url(/assets/images/dinossauro.png);
    transform: rotateY(180deg);
}

.back{
    background-image: url(/assets/images/front.png);
    backface-visibility: hidden;
}

.card-game:hover{
    transform: rotateY(180deg);
}